* {
  margin: 0;
  padding: 0;


}
body {
 background-color: #51eaea;
 position: relative;
}

.menu{

display: inline;
font-size: 110%;
color: white;
font-family: 'Noto Sans JP';
margin-left: 1.5rem;
cursor: pointer;
}

.menu a {
text-decoration: none;
color: white;
}

.menuPosition {
position: fixed;
left: 50%;
top: 5%;
}

.menu a:hover {
  color: purple;
}

.logo {
width: 15%;
height: 15%;
border-radius: 50%;
display: block;
clear: both;
padding: 10%;
}

.naslov {
    text-align: center;
    font-family: 'Poiret One';
    font-size: 1.4em;
    color: white;
    font-weight: bold;
}

header h1 {
  font-size: 5.5em;
  font-family: 'Shadows Into Light'
}

/*
.imgAboutMe {
  height: 20%;
  width: 20%;
  float left;
  clear: both;
  margin-top: 15%;
} */
section {
  margin-left: 0%;
  width: 70%;
  margin: 20% auto 0;
  text-align: left;
  line-height: 1.5;
  color: white;
}
.imgAboutMe {
  width: 30%;
  float: left;
  margin-right: 1.5rem;

}
